/* RESET */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
}

/*  END RESET */
   
body {
    background-color: rgb(100,100,100);
    margin: 30px;
}

header {
    background-color: rgb(115,165,225);
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    font-family: questa-slab;
    font-style: normal;
    font-weight: 500;
    color: rgb(90,35,35);
    font-size: 50px;
    text-align: center;
}

p {
    font-family: questa-slab;
    font-style: normal;
    font-weight: 300;
    color: rgb(90,35,35);
    font-size: 15px;
    text-align: justify;
}

#billed-sektion-1 {
    padding: 0px;
    grid-area: b1;
}

#billed-sektion-2 {
    padding: 0px;
    grid-area: b2;
}

#tekst-sektion-1 {
    padding: 20px;
    background-color: rgb(122,163,216);
    grid-area: t1;
}

#tekst-sektion-2 {
    padding: 20px;
    background-color: rgb(122,163,216);
    grid-area: t2;
}

#stortbillede {
    width:  100%;
}

#emne-grid {
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 
            "b1 b1 t1"
            "b2 t2 t2";
    }