.del-emne-grid {
    display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "t1"
            "b1"
            "t2"
            "t3";
    }

@media screen and (min-width: 700px) {
    
    .del-emne-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "t1 t1 t1"
            "t2 t2 t3"
            "t4 t4 .";  
    }
    
    .tekst1 {column-count: 3;}
    .tekst2 {column-count: 2;}
    .tekst3 {column-count: 1;}
    .tekst4 {column-count: 2;}
}